@using WebMVC.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <img style="height: 250px; object-fit: cover" class="card-img-top" src="@product.Image" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">$@product.Price</p>
                        <form asp-controller="Product" asp-action="AddToCart" method="post">
                            <input type="hidden" name="productId" value="@product.Id" />
                            <button type="submit" class="btn btn-danger">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
